.pkm-card {
  background: white;
  width: 250px;
  display: inline-block;
  margin: auto;
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;

  &__image-holder {
    height: 170px;
    margin-bottom: 15px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    img {
      width: 60%;
      margin-top: 1rem;
    }
  }

  &__type {
    display: flex;
    flex-direction: row;

    &-label {
      font-size: 16px;
      color: black;
      font-weight: 700;
      flex: 1;
      display: flex;
      align-items: center;
      margin-left: 1rem;
    }

    &-list {
      flex: 2;
      &-item {
        border-bottom: 1px honeydew solid;
        text-transform: uppercase;
        text-align: left;
      }
    }
  }

  &__title {
    font-size: 26px;
    color: black;
    font-weight: 900;
    margin-bottom: 5px;
    text-transform: capitalize;
  }
}
