<ng-container *ngIf="pokemon">
  <div class="pkm-card">
    <div class="pkm-card__image-holder">
      <img src="{{pokemon.sprites.other['official-artwork'].front_default}}" alt="official-artwork" srcset="">
    </div>
    <header class="pkm-card__title">{{ pokemon.name }}</header>
    <div class="pkm-card__type">
      <div class="pkm-card__type-label">Type</div>
      <div class="pkm-card__type-list">
        <div class="pkm-card__type-list-item" *ngFor="let type of pokemon.types">
          {{ type.type.name }}
        </div>
      </div>
    </div>
  </div>
</ng-container>
